.sidebar {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  overflow-y: hidden;
  flex-basis: 350px;
  flex-shrink: 9999;
  position: sticky;
  align-self: flex-start;
  top: 0;
  height: inherit;
}

.sidebar:hover {
  overflow-y: scroll;
}

.sidebar__top {
  border-bottom: 1px solid #8080803b;
}

.sidebar:first-child img {
  border-radius: 50%;
}
